/* Give the <body> element a background of #bdc3c */
body {
    background-color: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: #0040ff;
}

p {
    background: yellow;
}

input {
    border: 3px solid red;
}

.hello {
    background: white;
}

#special {
    border: 2px solid rgb(0, 100, 200);
}
